@import url('resetCss.css');

:root {
    --link-text: "Roboto", sans-serif;
    --heading-font-family: "Raleway", sans-serif;
    --link-background-color: #ffffff;
    --link-hover-color: #2196F3;
    --link-title-color: #212121;
    --link-paragraph-contacts-color: #757575;
    --link-logo-text: "Raleway", sans-serif;
    --btn-primary-bg-color: #2196F3;
    --btn-primary-color: #fff;
}


.row {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
}

.col {
    max-width: 100%;
    width: 100%;
}

body {
    font-family: var(--link-text);
}

body.is-open,
html.is-open {
    overflow: hidden;
}

/* tag zone */

h2 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: 42px;
}
  

h3 {
    font-style: var(--link-text);
    font-weight: 500;
    line-height: 19px; 
}


h5 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px; 
}


/* Studio */

/* Buttons */
.btn-primary {
    color: var(--btn-primary-color);
    box-sizing: border-box;
    min-width: 200px;
    padding: 10px 5px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: var(--btn-primary-bg-color);
    text-align: center;
    line-height: 28px;
}

/* general */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto
}


/* header section */
.header-container {
    max-width: 1200px;
    width: 90%;
    border-bottom: 1px solid #ececec;
    height: 80px;
}

.header-container {
    border-bottom: 1px solid #ececec;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.header-container>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.text-blue,
.text-black,
.text-white {
   font-family: var(--link-text);
}

.top-logo {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    margin-right: 93px;
    width: 15%;
}

.text-blue {
    color: blue;
}

.text-black {
    color: black;
}

nav li a {
    color: black;

}

nav li a:hover {
    color: #2196F3;
}

.nav-container {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-decoration: none;
    margin-left: 93px;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
}

.nav-container ul li+li {
    margin-left: 50px;
}

.current {
    color: #2196f3;
}

.current:hover {
    padding-bottom: 25px;
    color: var(--link-hover-color);
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
}


.contact-email:hover a,
.contact-phone:hover a {
    color: var(--link-hover-color);   
}

.contact-header li {
    display: inline-block;
    vertical-align: middle;
}

.contact-header li + li {
    margin-left: 10px;
}

.contact-header li a,
.contact-header li svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    fill: #757575;
}

.contact-header li:hover a {
     color: var(--link-hover-color);
}

.contact-header li:hover svg  {
    fill: var(--link-hover-color);
    cursor: pointer;
}

.contact-header li a {
    font-family: var(--link-text);
    color: var(--link-paragraph-contacts-color);
    font-size: 14px;
    font-weight: 500;
}

.contact-header li svg {
    position: relative;
    top: -1px;
}

.contact-header {
    display: none;
}

@media (min-width: 768px) {
    .contact-header {
        display: initial;
        min-width: 35%;
        text-align: right;
    }
}

.envelope   {
    display:inline;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 10px;
    cursor: pointer;
}


.smartphone {
   width: 0.625em;
}
    

.smartphone {
    display: inline;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 10px;
    cursor:pointer;
}

.hamburger-menu {
    background: none;
    border: none;
    position: relative;
    z-index: 4;
}

.js-menu-container svg {
    width: 40px;
    height: 40px;
}


.js-menu-container.is-open .js-open-menu {
    display: none;
}

.js-menu-container .js-close-menu {
    display: none;
}

.js-menu-container.is-open .js-close-menu {
    display: block;
}


.js-menu-container .mobile-menu-content {
    display: none;
}

.js-menu-container.is-open .mobile-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: calc(100vh - 110px);
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    padding: 60px 40px 50px;
}


.top-mobile-menu li a {
   font-family: var(--link-text);
   font-size: 35px;
   font-weight: 500;
   color: #212121;
}

.top-mobile-menu li a:focus  {
    color: #2196F3;
    cursor: pointer;
}

.top-mobile-menu li {
    padding-bottom: 32px;
}

.bottom-mobile-menu a {
    display: flex;
    flex-direction: column;
}

.tel {
    font-family: var(--link-text);
    font-size: 30px;
    font-weight: 500;
    color: #2196F3;
}

.email {
    font-family: var(--link-text);
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    padding-top: 18px;
}

.mobile-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--link-text);
    font-size: 15px;
    font-weight: 500;
    padding-top: 64px;
}

.mobile-social a {
    color: #2196F3;
}


@media (min-width: 768px) {
    .js-menu-container {
        display: none;
    }
}

@media screen and (min-width: var(768px))  {
    .group-container li {
        display: flex;
        flex-direction: column;
    }
}

.banner-section {
    background: url("../images/banner-background-img.png");
    height: 300px;
    max-width: 1600px;
    margin: auto;
    background-color: #2F303A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

@media (min-width: 1158px) {
    .banner-section {
        height: 600px;
        display: flex; 
    }
}
   
.banner-section::after {
    content: "";
    position: absolute;
    height: 600px;
    background-color: rgba(196, 196, 196, 0.3);
    z-index: 1;
    display: block;
    top: 80px;
    max-width: 1600px;
    width: 100%;
}


.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.banner-section h1 {
  font-family: var(--link-text);
  font-weight: 900;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: var(--link-background-color);
  margin-bottom: 17px;
  max-width: 600px;
}

@media (min-width: 768px) {
    .banner-section h1 {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 50px;
    }
}

.banner-container:hover {
    color: #ffffff;
}

.studio-page .button-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 4px;
    }
    
.studio-page .button-service {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding-left: 27px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1) ;
    border: none;
}

.studio-page .button-service:hover {
    background-color: rgba(24, 140, 232, 1);
}

@media (min-width: 1158px) {
    .group-container {
        padding: 94px 0;
    }
}

.features  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.features .feature {
   width: 100%;
}


.feature-img {
   margin-bottom: 20px;
}

@media(max-width: 428px) {
    .feature-img {
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    .features {
        flex-direction: row;
    }

    .features .feature {
        max-width: 270px;
        
    }
}

.features li h5 {
    margin-right: 30px;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .features li h5 {
      text-align: start;
     }
}

.text-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.text {
    padding-top: 25px;
}


.text-container li:last-child {
    padding-right: 0;
}

.text-container h5 {
    font-family: var(--link-text);
    font-weight: 700;
    color: var(--link-title-color);
    margin-bottom: 15px;
}


p {
    font-family: var(--link-text);
    font-weight: 400;
    line-height: 1.3;
    color: var(--link-paragraph-contacts-color);
}


.mail {
    color: #2196F3;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.comercial-container {
    width: 1170px;
    height: 386px;
    padding-top: 94px;
    padding-left: 215px;
}

h2 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-left: 0px;
    line-height: 42px;
}

h5 {
   font-family: var(--link-text);
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.item-services   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 386px;
    margin-top: 46px;
}

.item-container {
    display: none;
}

@media (min-width: 768px) {
    .item-container {
        display: block;
    }
}

.employe h2 {
    position: relative;
    top: -35px;
}

.team-container {
    background-color: #F5F4FA;
    padding: 90px 0;
}
    
.employe-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .employe-container {
        flex-direction: row;
    }
}

.employes  {
    border-radius: 0 0 4px 4px ;
    box-shadow: 0 4px 5px #a3a2a2 ;
}

.team-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    clip-path: circle(45%);
    border-radius: 50%;
    fill: #AFB1B8;
}


.team:hover  {
    fill: white;
    background-color: var(--link-hover-color);
    cursor: pointer;
}

.box h5 {
    color: rgba(255, 255, 255, 1);
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.box {
    width: 386px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 72px;
}

.employe-container h3 {
    font-style: var(--link-text);
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    padding-top: 30px;
}

.employe-container p {
    font-style: var(--link-text);
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    padding-top: 10px;
}

.team-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 28px;
}

.regular-customers {
    max-width: 1170px;
    height: 399px;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

@media (max-width:428px) {
    .regular-customers ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 428px) {
    .regular-customers li {
        width: 158px;
        height: 80px;
        margin-top: 25px;
        
    }
}


@media (min-width: 768px) {
    .regular-customers {
      height: 184px;
    }
}

@media(max-width: 428px) {
    .regular-customers h2 {
        font-size: 28px;
    }
}

.regular-text {
    font-family: var(--link-text);
    font-weight: 700;
    text-align: center;
}



@media (min-width:768px) {
    .regular-text {
      margin-bottom: 30px;
    }
}


.customer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   
}



.customer {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    fill: #AFB1B8;
}
.customer-container .customer:hover {
    border-color: #2196F3;
}

.customer-container .customer:hover svg {
    fill: #2196F3;
}

footer {
    background: #2F303A;
    padding: 60px 0;
}

.footer-parent-container {
    display: flex;
}

.footer-child-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-child-container:nth-child(2) {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 60px;

}


.footer-parent-container address,
.footer-parent-container a {
    color: #fff;
}

.footer-parent-container a {
    opacity: 60%;
}

.footer-parent-container address,
.footer-parent-container p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo-container {
    margin-bottom: 25px;
    
}

.footer-logo-text { 
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 26px;
}

.social-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.social-icons  {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
    .social-icons {
        justify-content: center;
    }
}

.social-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    clip-path: circle(45%);   
    border-radius: 50%;
}

.social-icons li + li {
    margin-left: 10px;
}

.social-icons li:hover {
    background-color:rgba(33, 150, 243, 1);
    cursor: pointer;
}


.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999999;

}

.modal-content {
    background-color: white;
    width: 528px;
    height: 581px;
    padding: 40px;
    border: 1px solid #888;
    position: relative;
    opacity: 1;
    transition: opacity .5s linear;
    
}

.is-hidden {
    visibility: hidden;
    display: none;
   
}

.is-hidden .modal-content  {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.close-btn {
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: black;
    cursor: pointer;
    position: absolute;
    top:8px;
    right:8px;
    background: none;
    font-size: 29px;
    line-height: 18px;
}

.modal-text h2 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 17px;
    line-height: 23.44px;
    
}

@media(min-width: 768px) {
    .modal-text h2 {
      font-size: 24px;
      text-align: start;
    }
}

.close-btn:hover {
    color: #0060b6;
    cursor: pointer;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
   display: flex; 
   flex-direction: column;
   gap: 4px;
   position: relative;
}


.form-group svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 11px;
}

.form-control {
    height: 40px;
    box-sizing: border-box;
    padding-left: 40px;
}

textarea {
 height: 120px; 
 padding: 12px 16px;
}

textarea::placeholder {
    font-family: var(--link-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-control, textarea  {
    
    border-radius: 4px;
    border: 1px solid  rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border .5s;
}


.form-control:hover, 
textarea:hover {
    cursor:pointer;
}

.form-control:focus,
textarea:focus {
    border: 1px solid  rgba(33, 150, 243, 1);
}

.form-control:focus + svg {
    fill: rgba(33, 150, 243, 1);
}

.form-label {
    font-family: var(--link-text);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}

@media(min-width: 768px) {
    .form-label {
    font-size: 12px;
    line-height: 14px;
    }
}

input[type="checkbox"] {
    accent-color: rgba(33, 150, 243, 1);
}

.form-inline {
    margin-top: 20px;
}

.form-label a {
    text-decoration: underline;
    color: rgba(33, 150, 243, 1);
}

.form-group .form-label {
    display: block;
}

.form-inline .form-label {
    display: inline-block;
    vertical-align: middle;
}

.modal-button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    background-color: var(--link-hover-color);
    cursor: pointer;
    
}

@media(min-width: 768px) {
    .modal-button {
      flex-direction: row;
     margin-left: 160px;
      
    }
}

input {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.modal-button:hover  {
    cursor: pointer;
    background-color: #188CE8;
}



/* general */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto
}



/* Portofolio */
.text-blue,
.text-white,
.text-black {
    font-family: var(--link-text);
}

.text-blue {
    color: #2196F3;

}

.text-black {
    color:#000000;
}

.text-white {
    color: #fff;
}

.nav-container  {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-decoration: none;
    
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
}

.nav-container ul li + li {
    margin-left: 50px ;
}

.current {
    color: #2196f3;
}

a {
    color:#0060b6;
    text-decoration: none;
}

.contacts {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}

.contacts a {
    padding-right: 20px;
    color: #757575;
}

.contacts a:hover {
    color: #2196F3;
}

.contacts a:focus {
    color: #2196F3;
}


.header-container {
    border-bottom: 1px solid #ececec;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}
       
.header-container  .top-nav {
    display: none;
}

@media (min-width: 768px) {
    .header-container .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* main section */
.main-block {
    box-sizing: border-box;
}

.products-container {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
}


.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--link-background-color);
    border: none;
    list-style: none;
    margin-bottom: 30px;
}

.filters button {
    margin-inline: 3px;
    background-color: #F5F4FA;
    border-style: none;
    color: var(--link-title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding: 10px 25px; 
    cursor: pointer;
}

.filters button:focus {
    color: var(--link-background-color);
    background-color: var(--link-hover-color);
    border-radius: 4px;
    
}

.filters button:hover {
    color: var(--link-background-color);
    background-color: var(--link-hover-color);
    border-radius: 4px;
    box-shadow:  0 2px 2px 0 rgba(148, 148, 148, 1.12);
}

.products-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.products-list li {
    border: 1px solid #eee;
    flex: 1 1 auto;
}

.products-list li:hover  {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px #a3a2a2;
    cursor: pointer;
}

.products-list li:focus {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px #a3a2a2;
}

.products-list li > div {
    padding: 0px 20px;
}

.products-list li h3 {
   color: var(--link-title-color); 
   font-size: 18px;
   font-style: var(--link-text);
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 1.08px;
   text-align: start;
}

.products-list .text-box  {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.products-list li p {
   color: var(--link-paragraph-contacts-color);
   font-size: 16px;
   font-style: var(--link-text);
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0.48px;
}

.box-products {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform:translatey(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    padding-inline: 24px;
    box-sizing: border-box;
}

.products-list li:hover .box-overlay {
    transform: translatey(0);
    transition-timing-function: cubic-bezier(0.1,0.7,1.0,0.1);
}

.products-list li:focus .box-overlay {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.1,0.7,1.0,0.1);
}



/* **********
   footer
************* */

footer {
    background: #2F303A;
    padding: 60px 0;
}

footer h4 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    margin-top: 13px;
    text-transform: uppercase;
}

footer address,
footer a  {
   color: #fff;
}

footer a {
   opacity: 60%;
}

footer  p {
    font-family: var(--link-text);
    font-weight: 400;
    color: #FFFFFF;
}

footer address,
footer p  {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
    footer .col {
        text-align: center;
    }
}

.logo-container {
   margin-bottom: 25px;
}

.form-newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-newsletter input {
    width: 90%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(47, 48, 58, 1);
}

.form-newsletter button { 
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.form-newsletter button span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    vertical-align: bottom;
    line-height: 30px;
    display: inline-block;
    margin-right: 25px;
}

@media (min-width: 768px) {
    .form-newsletter {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .form-newsletter input {
        width: 358px;
        margin-right: 14px;
    }

    .form-newsletter button {
        margin-top: 0;
    }
}
 